/ Page Header
/ Set your background image for this header on the line below.
%header.intro-header{:style => "background-image: url(#{@image})"}
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .site-heading
          %h1 Clean Blog
          %hr.small/
          %span.subheading A Clean Blog Theme by Start Bootstrap
