%header.intro-header{:style => "background-image: url('/img/contact-bg.jpg')"}
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        .page-heading
          %h1 Contact Me
          %hr.small/
          %span.subheading Have questions? I have answers (maybe).
/ Main Content
.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      %p Want to get in touch with me? Fill out the form below to send me a message and I will try to get back to you within 24 hours!
      / Contact Form - here the data is sent to a Google Sheet - we add the 'name' attribute to each field
      / see http://railsrescue.com/blog/2015-05-28-step-by-step-setup-to-send-form-data-to-google-sheets/
      %form#foo
        .row.control-group
          .form-group.col-xs-12.floating-label-form-group.controls
            %label Name
            %input#name.form-control{name: 'name', "data-validation-required-message" => "Please enter your name.", :placeholder => "Name", :required => "", :type => "text"}/
            %p.help-block.text-danger
        .row.control-group
          .form-group.col-xs-12.floating-label-form-group.controls
            %label Email Address
            %input#email.form-control{name: 'email', "data-validation-required-message" => "Please enter your email address.", :placeholder => "Email Address", :required => "", :type => "email"}/
            %p.help-block.text-danger
        .row.control-group
          .form-group.col-xs-12.floating-label-form-group.controls
            %label Phone Number
            %input#phone.form-control{name: 'phone', "data-validation-required-message" => "Please enter your phone number.", :placeholder => "Phone Number", :required => "", :type => "tel"}/
            %p.help-block.text-danger
        .row.control-group
          .form-group.col-xs-12.floating-label-form-group.controls
            %label Message
            %textarea#message.form-control{name: 'message', "data-validation-required-message" => "Please enter a message.", :placeholder => "Message", :required => "", :rows => "5"}
            %p.help-block.text-danger
        %br/
        #success
        .row
          .form-group.col-xs-12
            %button.btn.btn-default{:type => "submit"} Send
%hr/
