/ Main Content
.container
  .row
    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
      - page_articles.each_with_index do |article, i|
        - author = find_author(article.data.author)
        .post-preview
          %a{:href => article}
            %h2.post-title
              = article.title
            %h3.post-subtitle
              = article.summary(250)
          %p.post-meta
            Posted by
            %a{:href => "#"}
              = author.name
            on
            = article.date.strftime('%b %e, %Y')
        %hr/
